@import "tailwindcss";

@theme {
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
  --color-background-dark: #0f172a;
  --color-card-dark: #1e293b;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
}

body {
  background-color: var(--color-background-dark);
  color: var(--color-text-main);
  font-family: 'Inter', system-ui, sans-serif;
}
